body {
  margin: 0;
  font-family: 'Lato', sans-serif;
}


/*home layout*/
.home {
  display: grid;
  height: 100vh;
  grid-template-columns: 350px 1fr;
  grid-template-rows: 1fr 0;
  grid-template-areas: "sidebar primary"
                       "sidebar featuring";
 }
 /* Variables y Funciones

En la primera parte de este curso vamos a buscar traer datos de un servicio externo, para ello vamos a utilizar la mezcla de varias combinaciones: Promesas, ajax/fecth y funciones asíncronas. Antes de implementar una Promesa debes saber dos cosas necesarias: Variables y Funciones.

Dentro de JavaScript tenemos tres formas de declarar una variable las cuales son: var, const y let.

    var era la forma en que se declaraban las variables hasta ECMAScript 5.
    const y let es la forma en que se declaran las variables a partir de ECMAScript 6, const sirve para declarar variables que nunca van a ser modificadas y en -
    cambio let son variables que pueden ser modificadas.

Las funciones son piezas de código que puedes reutilizar y se declaran con la palabra function. */

.home.search-active {
  grid-template-rows: 1fr 150px;
}

.home-sidebar {
  grid-area: sidebar;
}
.home-primary {
  grid-area: primary;
}
.home-featuring {
  grid-area: featuring;
  display: grid;
}
.home-featuring img {
  align-self: center;
  justify-self: center;
}

/*Sidebar*/
.sidebar {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  background: #171929;
  color: white;
  padding: 1em;
  box-sizing: border-box;
  height: 100vh;
}

.sidebar-content{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr 1fr;
  overflow: auto;
}

/*Logo*/

.logo-image {
  margin: 0;
  padding-bottom: 20px;
}
.logo-image img {
  max-width: 100%;
}

.sidebarPlaylist {
  overflow: auto;
  margin: 10px 0;
}

/*myPlaylist*/

.myPlaylist {
  padding: 0 25px;
}

#myPlaylist-title{
  cursor: pointer;
}

#myPlaylist-title:hover{
  text-decoration: underline;
}

.myPlaylist-item span {
  cursor: pointer;
  color: white;
  text-decoration: none;
  font-size: .8em;
  display: block;
  margin-bottom: 7px;
}
.myPlaylist-item:last-child span {
  margin-bottom: 0;
}


.myPlaylist-item span:hover {
  text-decoration: underline;
}

/*playlistFriends*/

.playlistFriends {
  padding: 0;
}

.playlistFriends-item {
  color: white;
}

.playlistFriends-item {
  display: flex;
  margin-bottom: 7px;
  font-size: .8em;
}
.playlistFriends-item a {
  display: inline-flex;
  align-items: center;
  color: white;
  text-decoration: none;
}
.playlistFriends-item:hover a {
  text-decoration: underline;
}

.playlistFriends-item img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin-right: 10px;
}

.playlistFriends-item span {
  display: inline-block;
}

.menu-btn{
  cursor: pointer;
  text-align: center;
  font-size: 20px;
  display: none;
}

.menu-btn:active{
  background: black;
}

.home-primary {
  display: grid;
  grid-template-areas: "search user"
                       "list list";
  grid-template-rows: auto 1fr;
  grid-template-columns: 300px 1fr;
  padding: 10px;
  overflow: auto;
}


.search {
  grid-area: search;
}

.search input {
  background: #f0f0f0;
  font-family: "Lato";
  padding: 10px;
  border-radius: 10px;
  font-size: 16px;
  width: 100%;
  border: none;
  box-shadow: 0 0 10px #f0f0f0;
  box-sizing: border-box;;
}

.primary-search {
  align-self: center;
}

#music-form input{
  background: #171929;
  color: white;
  border: 1px solid gray;
  box-shadow: 0 0;
}

#music-form input:focus{
  box-shadow: 0 0 5px #f0f0f0;
}

.primary-user {
  justify-self: end;
  margin: 5px 0;
}

.user p {
  display: flex;
  align-items: center;
  font-weight: 300;
  margin: 0;
}
.user img {
  width: 45px;
  height: 45px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 10px;
  margin-left: 10px;
}

.primary-list {
  grid-area: list;
  overflow: auto;
}
.primaryPlaylist-topic {
  margin: 15px 0 0;
  color: #888B8E;
  font-size: 14px;
  font-weight: 300;
}
.primaryPlaylist-title {
  margin: 0 0 15px;
  color: #3F546C;
  font-size: 20px;
  font-weight: 400;
}
.primaryPlaylist-list {
  display: flex;
  overflow: auto;
}

.primaryPlaylist-list .primaryPlaylistItem {
  margin-right: 10px;
}

.primaryPlaylistItem {
  cursor: pointer;
  transition: .3s;
  /*border: 1px solid blue;*/
}
/*.primaryPlaylistItem:hover {
  transform: scale(1.1)
}
*/
.primaryPlaylistItem-image {
  animation: 5000ms fadeIn;
}

.primaryPlaylistItem img {
  width: 170px;
  height: 256px;
  object-fit: cover;
}
.primaryPlaylistItem-title {
  margin: 5px 0;
  color: #44546B;
  font-size: 14px;
  font-weight: normal;
}


.featuring {
  background: linear-gradient(to right, #3800ff, #ff458b);
  display: flex;
  height: 100%;
  align-items: center;
  padding-left: 100px;
  color: white;
}

.featuring-image {
  margin-right: 20px;
  height: 100px;
}

.featuring-title {
  margin: 10px;
}
.featuring-album {
  font-size: 1.3em;
  margin: 10px;
}


.fadeIn {
  animation: 5000ms fadeIn;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}