.modal-btn {
  text-align: center;
  padding: .6em .8em .8em;
  border: none;
  color: white;
  background: lightgray;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: inset 0 -.2em rgba(0,0,0, .2);
  outline: 0;
  margin-top: 2rem;
  transition: .2s;
  will-change: transform;
}
.modal-btn.primary {
  background: #7dc800;
}
.modal-btn.warning {
  background: #ff463b;
}

.modal-btn:active {
  transform: scale(.9);
}
.overlay {
  background: rgba(0,0,0,.5);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  /*transition: 300s ease-in;*/
  /*opacity: 0;*/
  /*visibility: hidden;*/
  display: none;
}
.overlay.active {
  /*opacity: 1;*/
  /*visibility: visible;*/
  display: flex;
}
.modals-active{
  transform: translateY(0px);
}

.modal{
  background: white;
  padding: 2em;
  border-radius: .5em;
  text-align: center;
  z-index: 4;
  transform: translateY(-3000px);
  position: fixed;
  left: 10px;
  right: 10px;
  top: 25px;
  bottom: 25px;
  margin: auto;
  overflow: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.video-modal{
  max-width: 520px;
}

.artist-modal{
  max-width: 580px;
  height: fit-content;
}

.music-modal{
  max-width: 600px;
  height: fit-content;
}

.modal-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.music-video{
    width: 100%;
    height: 0%;
    padding-top: 56.25%;
    position: relative;
}

.youtube-video{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.modal-content img {
  width: 170px;
  height: 256px;
  object-fit: cover;
  margin-right: 15px;
}

.modal-content p {
  text-align: justify;
  max-width: 335px;
  max-height: 350px;
  overflow: auto;
}

.artist-modal p{
  max-width: 390px;
}

.music-modal h4{
  width: 100%;
  margin-bottom: 0;
  margin-top: 5px;
  text-align: right;
}

.music-modal-title{
  display: flex;
  width: 100%;
  align-items: center;
}

.music-modal-title img{
  width: 55px;
  height: 55px;
  margin-right: 10px;
  object-fit: cover;
  border-radius: 50%;
}

.music-modal a{
  text-decoration: none;
  color: #3800ff;
}

.music-modal a:hover{
  color: #ff458b;
}

.close{    
  font-size: 40px;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 13px;
}

.close:active{
  transform: scale(0.9);
  color: gray;
}
/*@keyframes animationIn {*/
@keyframes modalIn {
  0% {
    transform: translateY(-3000px);
  }
  60% {
    transform: translateY(25px);
  }
  75% {
    transform: translateY(-10px);
  }
  90% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(0px);
  }
}

/*@keyframes animationOut {*/
@keyframes modalOut {
  0% {
    transform: translateY(5px);
  }
  60% {
    transform: translateY(-10px);
  }
  75% {
    transform: translateY(25px);
  }
  100% {
    transform: translateY(-3000px);
  }
}
