:root{
    --header-height: 165px;
}

@keyframes musicIn {
    0% {
        transform: translateY(calc(var(--header-height) - 100vh));
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes musicOut {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(calc(var(--header-height) - 100vh));
    }
}

@media screen and (max-width: 904px){
    .home{
        grid-template-columns: 1fr;
        grid-template-rows: auto auto 1fr;
        grid-template-areas: "sidebar"
            "primary"
        "featuring";
        height: unset;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }
    .sidebar{
        height: 150px;
        text-align: center;
        margin: 0;
        padding: 0;
    }
    
    .sidebar-content{
        position: fixed;
        text-align: left;
        z-index: 2;
        padding: 0;
        top: 0;
        bottom: 0;
        transform: translateY(calc(var(--header-height) - 100vh));
        width: 100%;
        box-sizing: border-box;
        background: #171929;
    }

    .menu-btn{
        display: initial;
    }

    .audio-search, .sidebarPlaylist{
        padding: 0;
        margin: 7px 1.4em;
    }

    .audio-search{
        padding-top: 147px;
    }

    .logo{
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 3;
        padding: 10px 0;
        width: 100%;
        background: #171929;
    }

    .logo-image{
        padding: 0;
    }

    .logo-image img {
        max-width: unset;
        height: 120px;
    }

    .home.search-active {
        grid-template-rows: auto auto 1fr auto;
    }

    .featuring {
        justify-content: center;
        width: 100%;
        box-sizing: border-box;
    }

    .searchbox{
        padding: 9px 10px 0;
        /* padding-left: 10px; */
        box-sizing: border-box;
        position: fixed;
        z-index: 1;
        width: 100%;
        margin: 0 -10px 0;
        grid-template-columns: 1fr 1fr;
    }

}
@media screen and (max-width: 658px){
    .artist-modal, .video-modal{
        bottom: unset;
    }

    .artist-modal p, .video-modal p{
        max-width: 100%;
    }
}

@media screen and (max-width: 512px){
    .searchbox{
        grid-template-columns: 4fr 1fr;
    }

    .user span{
        display: none;
    }

    .user img {
        margin-right: 0;
    }

    #song-title{
        font-size: 20px;
    }

    .myPlaylist{
        margin: 9px 0;
    }

    .myPlaylist-item span, .playlistFriends-item {
        margin-bottom: 3px;
    }

    .playlistFriends{
        margin: 7px 0 0;
    }

    .sidebar-content h2{
        font-size: 17px;
    }

    .modal{
        padding: 1.4em;
    }

    .modal h1{
        font-size: 26px;
    }

    .music-modal{
        padding: 2em 0;
    }

    .music-modal-title{
        padding: 0 2em;
        box-sizing: border-box;
    }

    .music-modal h4{
        padding-right: 1em;
    }

    .primaryPlaylistItem img {
        width: 138px;
        height: 208px;
        object-fit: cover;
    }

}